<!-- Main Footer -->
<footer class="main-footer text-center">
    <!-- Default to the left -->
    Copyright &copy; 2020 <strong> SIMS</strong> All rights reserved.
</footer>
</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->

<!-- jQuery -->
<script src="/plugins/jquery/jquery.min.js"></script>

<!-- Bootstrap 4 -->
<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Form validation 4 -->
<script src="/plugins/jquery-validation/jquery.validate.min.js"></script>
<script src="/plugins/jquery-validation/additional-methods.min.js"></script>

<!-- DataTables -->
<script src="/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>

<!-- Custom file input -->
<script src="/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>

<!-- For custom date  -->
<script src="/plugins/moment/moment.min.js"></script>
<script src="/plugins/daterangepicker/daterangepicker.js"></script>

<!-- Select2 -->
<script src="/plugins/select2/js/select2.full.min.js"></script>
<!-- AdminLTE App -->
<script src="/dist/js/adminlte.min.js"></script>



<script>
    $(document).ready(function () {

        // Date picker
        $('.inputDate').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            minYear: 1901,
            maxYear: parseInt(moment().format('YYYY'), 10)
        });

        // bs custom file input 
        bsCustomFileInput.init();

        // Flash message slide out
        setTimeout(function () {
            $('.hide').slideUp()
        }, 2000)

        // init data table
        $(".dataTable").DataTable({
            "responsive": true,
            "autoWidth": false,
        });


        //Initialize Select2 Elements
        $('.select2').select2();

        // Form validation
        $('.form-submit').on('click', function (e) {
            if ($(".notSelect").val() == 'notSelect') {
                $(".select2-selection").css('border', '1px solid red');
                e.preventDefault();
            }
        });

        $(".notSelect").on('change', function (e) {
            $(".select2-selection").css('borderColor', '#ced4da');
        })


        $('.my-form').validate({
            rules: {
                email: {
                    required: true,
                    email: true,
                },

                password: {
                    required: true,
                    minlength: 4
                },
                name: {
                    required: true
                },
                full_name: {
                    required: true
                },
                student_first_name: {
                    required: true
                },
                student_last_name: {
                    required: true
                },
                parent_first_name: {
                    required: true
                },
                parent_last_name: {
                    required: true
                },
                address: {
                    required: true
                },
                phone: {
                    required: true
                },

                parent_mobile: {
                    required: true
                },
                class: {
                    required: true
                },
                section: {
                    required: true
                },
                session: {
                    required: true
                },
                roll_no: {
                    required: true
                },
                registration_no: {
                    required: true
                },
                dob: {
                    required: true
                },


            },
            messages: {
                email: {
                    required: "Please enter a email address",
                    email: "Please enter a valid email address"
                },

                password: {
                    required: "Please provide a password",
                    minlength: "Your password must be at least 5 characters long"
                },

                name: "Please input filed",
                full_name: "Please enter your full name",
                firstName: 'Please enter first name',
                lastName: 'Please enter last name',
                parent_first_name: 'Please enter first name',
                parent_last_name: 'Please enter last name',
                address: 'Please enter address',
                phone: 'Please enter phone number',
                parent_mobile: 'Please enter mobile number',
                class: 'Please Select Class',
                section: 'Please Select Section',
                session: 'Please Select Session',
                roll_no: 'Please Select Roll Number',
                registration_no: 'Please Enter Registration No',
                dob: 'Please Select Date of Birth',


            },
            errorElement: 'span',
            errorPlacement: function (error, element) {
                error.addClass('invalid-feedback');
                element.closest('.form-group').append(error);
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass('is-invalid');
                // if($(element).hasClass('select2')) {
                //     $(element.nextSibling).addClass('is-invalid')

                // }
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass('is-invalid');
                // if ($(element).hasClass('select2')) {
                //     console.log(element);
                //     $(element.nextSibling).removeClass('is-invalid')

                // }
            }
        });


    });
</script>

<script defer src="/js/main.js"></script>




</body>

</html>
